.vis-item.item--going {
  background-color: transparent;
  border-width: 2px;
  height: 30px;
  border-color: #000;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
  border-style: dashed !important;
}

.vis-item.item--going .vis-item-overflow {
  overflow: visible;
}

.vis-item.item--going .vis-item-content {
  padding-left: 0px;
  font-weight: 300;
  font-size: 11px;
  color: #2c2e3e;
}

.vis-item.item--going .vis-item-content span {
  font-weight: bold;
  padding: 1px 2px;
  border: 1px solid #cacaca;
}

.vis-item.item--vehicle {
  border-color: #000;
  background-color: #fff;
  border-radius: 0px;
}

.vis-item.item--vehicle .vis-item-content {
  font-weight: bold;
}

