.vis-left {
  background-color: #cacaca;
}

.vis-left .vis-content {
  font-weight: bold;
  text-transform: uppercase;
  text-align: right;
}

.vis-left .vis-label.group--vehicle {
  background-color: #0fa95b;
  color: #fff;
}

.vis-left .vis-label.group--driver {
  background-color: #36a3f7;
  color: #fff;
}

.vis-left .vis-label.group--transport {
  background: #ffb822;
  color: #2c2e3e;
}

.vis-left .vis-label .vis-inner {
  display: flex;
  align-items: center;
  width: 100%;
  text-align: center;
  justify-content: center;
}

.vis-item {
  border-width: 3px;
}

.vis-item .vis-item-overflow {
  overflow: visible !important;
}

.vis-item.item--going {
  background-color: transparent;
  border-width: 2px;
  height: 30px;
  border-color: #000;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
  border-style: dashed !important;
}

.vis-item.item--going .vis-item-overflow {
  overflow: visible;
}

.vis-item.item--going .vis-item-content {
  padding-left: 0px;
  font-weight: 300;
  font-size: 11px;
  color: #2c2e3e;
}

.vis-item.item--going .vis-item-content span {
  font-weight: bold;
  padding: 1px 2px;
}

.vis-item.item--vehicle {
  border-color: #0fa95b;
  background-color: #fff;
  border-radius: 0px;
}

.vis-item.item--vehicle .vis-item-content {
  font-weight: bold;
}

.vis-item.item--driver {
  border-color: #36a3f7;
  background-color: #fff;
  border-radius: 0px;
}

.vis-item.item--driver .vis-item-content {
  font-weight: bold;
}

.vis-item.item--transporter {
  border-color: #ffb822;
  background-color: #fff;
  border-radius: 0px;
}

.vis-item.item--transporter .vis-item-content {
  position: relative;
}

.item-inner--container {
  display: flex;
  justify-content: space-between;
}

.item-inner--container .item-inner--content {
  padding-left: 3px;
  padding-right: 3px;
}

.item-inner--container:hover .item-inner--content .group--goings {
  background: #2c2e3e;
  /* The Fallback */
  background: rgba(44, 46, 62, 0.3);
}

.group--vehicle .item-inner--container:hover .item-inner--content {
  background: #0fa95b;
  /* The Fallback */
  background: rgba(15, 169, 91, 0.3);
}

.group--driver .item-inner--container:hover .item-inner--content {
  background: #36a3f7;
  /* The Fallback */
  background: rgba(54, 163, 247, 0.3);
}

.group--transport .item-inner--container:hover .item-inner--content {
  background: #ffb822;
  /* The Fallback */
  background: rgba(255, 184, 34, 0.3);
}

.item-inner--container .item-inner--edit span {
  color: #a1a1a1;
  cursor: pointer;
}

.item-inner--container .item-inner--edit span .fa {
  font-weight: 300;
  font-size: 12px;
}

.item-inner--container .item-inner--edit span:hover {
  text-decoration: none;
}

.m-portlet__body .modal-dialog {
  max-width: 95%;
}

